<html>
<head>
  <title>Droodle</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bahiana&family=Jost:ital,wght@0,100..900;1,100..900&family=Rock+3D&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <script src="main.js"></script>
</head>
  <div class="page">
<body>
  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/">DROODLING</a>
    </div>
    <ul class="navbar__links">
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/submit">SUBMIT</a></li>
      <li><a href="/game">GAME</a></li>
    </ul>
  </nav>

  <hr class="navbar__divider" />

  <main class="about">

    <h1 class="about__title">HOW IT WORKS</h1>

    <div class="cards">

      <div class="card">
        <div class="card__img">
          <img src="images/witch.png" alt="Ship arrives too late to save drowning witch" />
        </div>
        <p class="card__caption">SHIP ARRIVES TOO LATE TO SAVE DROWNING WITCH</p>
      </div>

      <div class="card">
        <div class="card__img">
          <img src="images/spider.png" alt="Spider doing a handstand on one leg" />
        </div>
        <p class="card__caption">SPIDER DOING A HANDSTAND ON ONE LEG</p>
      </div>

      <div class="card">
        <div class="card__img">
          <img src="images/camel.png" alt="Camel balancing books to improve posture" />
        </div>
        <p class="card__caption">CAMEL BALANCING BOOKS TO IMPROVE POSTURE</p>
      </div>

    </div>

    <p class="about__description">
      These are droodles, a cartoon feature created by Roger Price. They are little drawings
      paired with a clever caption. It's time for you to make your own clever captions!
    </p>

    <a href="/game" class="randomize">RANDOMIZE</a>
</body>

  </main>
</body>
</html>