<html>
<head>
  <title>Droodle</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bahiana&family=Jost:ital,wght@0,100..900;1,100..900&family=Rock+3D&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css" />
  <script src="main.js"></script>
    <div class="page">
</head>
<body>
  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/">DROODLING</a>
    </div>
    <ul class="navbar__links">
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/submit">SUBMIT</a></li>
      <li><a href="/game">GAME</a></li>
    </ul>
  </nav>

  <hr class="navbar__divider" />

  <main class="body">
    <div class="bodytext">
      <h1 class="bodytitle">
        <span class="bodywelcome">WELCOME TO</span>
        <span class="bodydroodle">DROODLE</span>
      </h1>
      <p class="description">
        Droodle is a platform for you to express yourself! Please go into the website with
        intention to amuse and have fun or else I will be sad and disappointed.
      </p>
    </div>

    <div class="meow">
      <img src="images/catheadphones.png" alt="Droodle mascot" class="meow_img" />
    </div>
  </main>
  <div class="start">
    <a href="/about" class="aboutlink">
      <img src="images/arrow.png" alt="Arrow image" class="arrow_img" />
      <span class="text">START</span>
    </a>
  </div>
  </div>
  <div class="player">
    <audio id="audio" src="/music/dodo.mp3" loop></audio>
    <button class="player__btn" onclick="toggleMusic()">♪</button>
  </div>

</body>
</html>