<html>
<head>
  <title>Droodle - Recorded</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bahiana&family=Jost:ital,wght@0,100..900;1,100..900&family=Rock+3D&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/style.css" />
    <script src="/main.js"></script>
</head>
<body>

  <div class="page">
    <main class="recorded">
      <h1 class="recorded__title">RECORDED!</h1>

      <div class="recorded__btns">
        <a href="/game" class="recorded__btn">RECORD ANOTHER</a>
        <a href="/other" class="recorded__btn">SEE OTHER RESPONSE</a>
      </div>
    </main>
  </div>

</body>
</html>