* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.soup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -48%);
  width: 575px;
  height: auto;
}

.alpha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -48%);
  font-family: "alphabet-soup-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  font-weight: bold;
  color: rgb(230, 164, 22);
  letter-spacing: 10px;
}
