body {
  background-color: #f6f2e9;
  color: #2b2b2b;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.page {
  width: 1200px;
  margin: 60px auto;
  position: relative;
}

.heading {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
}

.subheading {
  font-size: 12px;
  letter-spacing: 1px;
}

.flower-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.flower-title {
  position: absolute;
}

.flower {
  display: block;
}

.flower img {
  width: 100%;
  display: block;
}

.name {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
  color: #4e4237;
}

.f1 {
  top: 80px;
  left: 200px;
  width: 200px;
}

.f2 {
  top: 80px;
  left: 500px;
  width: 200px;
}

.f3 {
  top: 80px;
  left: 800px;
  width: 200px;
}

.f4 {
  top: 320px;
  left: 350px;
  width: 200px;
}

.f5 {
  top: 320px;
  left: 650px;
  width: 200px;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
}