<!DOCTYPE html>
<html lang="en">
<head>
  <title>Who Are You?</title>
  <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Gruppo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body class="choose">
  <h1>ARE YOU ???</h1>
  <nav>
    <a href="/authenticate_a">A. Person A</a>
    <a href="/authenticate_b">B. Person B</a>
    <a href="/authenticate_c">C. Person C</a>
    <a href="/authenticate_d">D. Person D</a>
  </nav>
</body>
</html>